*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.getstr{
    color: #2932b9;
    box-shadow: 4px 4px #454545;
    bottom: 20px;
    right: 50px;
    position: fixed;
    font-size: 30px;
    font-weight: 1000;
    padding: 5px 50px;
    border: 3px solid #2932b9;
    border-radius: 5px;
}
.getstr:hover{
    box-shadow: 6px 6px 5px #454545;
    background-color: #7e7e7e;
}
header {
    background: linear-gradient( rgb(52, 79, 236) 0%, rgb(32, 43, 146) 100%);
    padding: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
ul li {
    display: flex;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}
@media screen and (max-width:450px){
    ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    ul li{
        margin: 5px;
    }
    .getstr{
        color: #2932b9;
        box-shadow: 4px 4px #454545;
        bottom: 50px;
        /* position: fixed; */
        font-size: 15px;
        font-weight: 1000;
        padding: 5px 30px;
        border: 3px solid #2932b9;
        border-radius: 5px;
    }
}

/* Image infinite slider  */
@keyframes slideRTL{
    from{transform: translateX(0);}
    to{transform: translateX(-100%);}
}
@keyframes slideLTR{
    from{transform: translateX(-100%);}
    to{transform: translateX(0);}
}
.slideContainer1,.slideContainer2,.slideContainer3,.slideContainer4{
    overflow: hidden;
    padding: 20px;
    white-space: nowrap;
}
.slider1, .slider3{
    animation: 15s slideRTL infinite linear;
    display: inline-block;
}
.slider2, .slider4{
    animation: 15s slideLTR infinite linear;
    display: inline-block;
}
.slider1 img, .slider2 img, .slider3 img, .slider4 img{
    height: 70px;
    width: 110px;
    margin: 10px;
    opacity: 40%;
}